.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background-color: #0f62fe;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.name_title {
  font-size: 48px;
  color: black;
  text-align: left;
  padding-bottom: 20px;
  animation: slideUp 1.4s ease;
}

.brief_description {
  text-align: left;
  animation: slideUp 1.4s ease;
}

.profile_image {
  width: 400px;
  height: auto;
  border-radius: 8px;
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp{
  0% {
    transform: translateY(-700px);
  }
  100% {
    transform: translateY(0px);
  }
}